site_name: ConversaDigital

theme:
  name: material
  features:
      - content.code.copy
  palette: 

      # Palette toggle for light mode
      - scheme: default
        toggle:
            icon: material/brightness-7 
            name: Switch to dark mode

    # Palette toggle for dark mode
      - scheme: slate
        toggle:
            icon: material/brightness-4
            name: Switch to light mode

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg